require "rubygems"
require "departr"

app = Departr::Server.new do
  set :environment, :production
  set :data_path, File.join(File.dirname(__FILE__), "data")

  set :rpx, {
    :api_key => '........................................',
    :base_url => 'https://rpxnow.com',
    :realm => '................'
  }
end

run app

