#help
  %p Departr is a smart and fast startpage to help you reach other web sites.

  %p
    Like others, if you enter "obama", it will send you to google
    search results for "obama".
    If you enter "http://www.google.com" or simply "google.com",
    it will redirect you to the google web site.

  %p
    Another sweetness with google, type the name of a website you know,
    for example "netvibes", and instead hit RETURN, hit CONTROL+ENTER,
    it will do a "I'm feelink lucky".

  %p But there is more!

  %p
    For example, start typing "map" and hit the TAB then then RETURN key.
    Then type "Paris, France" and RETURN again, nice!

  %p
    You can also type "!maps to paris" then RETURN, it will be even quicker!

  %p
    Another example, start typing "twit", two results are
    listed below, "twitter" and "twitter search for ?".
    Hit the DOWN key and then the RETURN key. Type 
    "obama" in the input filed has just appeared, and
    hit RETURN again. Voila!

  %p
    If your are too lazy or would like to be even faster
    you can only specify partial command name. For example,
    you have that command "images search for {words}", start
    typing "go se" and it will be selected. Awesome isn't it!

  %p
    Many other commands are available by default, but if
    you sign in using your Facebook, Twitter, Gmail, Yahoo,
    Flickr or OpenId account, you will be able to edit or
    add your own custom commands.
  %p
    So do not hesitate to set #{host} as you homepage
    in your favorite browser:
    %ul
      %li
        %a{:href => "http://support.mozilla.com/en-US/kb/How+to+set+the+home+page", :target => :_blank} Firefox 
      %li
        %a{:href => "http://www.microsoft.com/nz/digitallife/internet/change_your_homepage_in_Internet_Explorer.mspx", :target => :_blank} Internet Explorer
      %li
        %a{:href => "http://support.apple.com/kb/HT3643", :target => :_blank} Safari 
      %li
        %a{:href => "https://chrome.google.com/extensions/detail/icpgjfneehieebagbmdbhnlpiopdcmna", :target => :_blank} Google Chrome
      %li
        %a{:href => "http://www.opera.com/support/kb/view/646/", :target => :_blank} Opera

  %p
    Tip for Firefox user, consider install the
    %a{:href => "https://addons.mozilla.org/en-US/firefox/addon/777", :target => :_blank} "New Tab Homepage"
    extension

