#settings
  %label{:for => "setting_default_search"} Default search
  %select{:id => "setting_default_search"}
    %option{:value => 'http://www.google.com/search?ie=UTF-8&oe=UTF-8&q='} google.com
    %option{:value => 'http://www.google.com/search?ie=UTF-8&oe=UTF-8&q='} google.fr
    %option{:value => 'http://duckduckgo.com/?q='} duckduckgo.com
    %option{:value => 'http://www.exalead.com/search/web/results/?q='} exalead.com

  %hr 

  %label{:for => "setting_open_in_new_page"} Open in a new page ?
  %input{:id => "setting_open_in_new_page", :type => :checkbox}

