#settings
  %label{:for => "google_domain"} Google domain
  %select{:id => "google_domain"}
    %option com
    %option co.uk
    %option de
    %option es
    %option fr

  %hr 

  %label{:for => "google_feeling_lucky"} Enable google "feeling lucky" fallback ?
  %input{:id => "google_feeling_lucky", :type => :checkbox}

  %hr 

  %label{:for => "open_in_new_page"} Open in a new page ?
  %input{:id => "open_in_new_page", :type => :checkbox}

